.lofi-music-customizer-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="file"] {
  width: 100%;
  margin-bottom: 10px;
}

button {
  width: 100%;
  background-color: #4577a0;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #4577a0;
}

.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  margin-top: 5px;
}

.message-box.highlight {
  background-color: yellow; /* Add your preferred highlight style */
  /* Additional styling for highlighting */
}

.error-message {
  background-color: #ffcccc;
  color: #cc0000;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}